<ul class="kt-menu__nav" style="margin-top: 13px;">
    
    <li class="kt-menu__item {{ menu.class }}" aria-haspopup="true" ng-repeat="menu in header_menu" data-ktmenu-submenu-toggle="click">

        <a href="{{ menu.url }}" class="kt-menu__link" ng-if="menu.sub === false">
            <span class="kt-menu__link-text menu-txt">{{ menu.name }}</span>
        </a>

        <a href="javascript:;" class="kt-menu__link kt-menu__toggle" ng-if="menu.sub !== false">
            <span class="kt-menu__link-text menu-txt">
                {{ menu.name }}
            </span>
            <i class="kt-menu__hor-arrow la la-angle-down"></i>
            <i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>

        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right" ng-if="menu.sub !== false" >
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item "  aria-haspopup="true" ng-repeat="sub in menu.sub">
                    <a href="{{ sub.url }}" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                        <span class="kt-menu__link-text">{{ sub.name }}</span>
                    </a>
                </li>
            </ul>
        </div>

    </li>
    
    

    
    <!-- <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel"  data-ktmenu-submenu-toggle="click" aria-haspopup="true">
        <a  href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <span class="kt-menu__link-text menu-txt">
                Productivity Reports
            </span>
            <i class="kt-menu__hor-arrow la la-angle-down"></i>
            <i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item "  aria-haspopup="true">
                    <a  href="#" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                        <span class="kt-menu__link-text">Activity Tracker Notes</span>
                    </a>
                </li>
            </ul>
        </div>	
    </li> -->
</ul>